.promo-advantages {
    margin-bottom: 220px;
     @media(max-width:1024px) {
            .col-md-4 {
                order: 2;
            }
            .col-md-8 {
                order: 1;
            }
        }
    
    &-header {

        &-title {
            color: #fff;
            font-size: rem(52);
            margin-bottom: 20px;
        }
        &-text {
            color: $silver;
            font-size: rem(22);
            margin-bottom: 35px;
        }
    }
}

.promo-advantage {
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s ease-in-out;
    text-align: center;
    &.animated {
        opacity: 1;
        transform: translateY(0px);
    }
    &-digit {
        font-size: rem(42);
        color: $orange;
        font-weight: 700;
        text-transform: uppercase;
    }
}
