/* container */
$widthContainer: 1240px;
$paddingContainer: 20px;

/* base typography */
$baseFont: 'Red Hat Display', sans-serif;
$baseWeight: 300;

/* colors */
$linkColor: #000; /* base color for <a> */
$darkBlue: #1B2137;
$blue: #4AA5F0;
$orange: #D88730;
$silver: #AFB6D2;
