/* base */
@import "./base/vars.scss";
@import "./base/typography.scss";
@import "./base/grid.scss";
@import "./base/mixin.scss";
@import "./base/UI.scss";


/* layout */
@import "./layout/inc-header.scss";
@import "./layout/inc-footer.scss";


/* pages */
@import "index";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $baseFont;
  font-weight: 400;
  font-size: rem(16px);
  line-height: 1.42;
  color: #fff;

  background: $darkBlue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #232047, $darkBlue);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #232047, $darkBlue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  // padding-top: 80px;
}

#middle {
  flex: 1 0 auto;
  -webkit-box-flex: 1;
  padding-top: 100px;
  // height: 100%;
}

#footer {
  flex: 0 0 auto;
  -webkit-box-flex: 0;
}




.container {
  margin: 0 auto;
  width: 100%;
  max-width: $widthContainer;
  padding-left: $paddingContainer;
  padding-right: $paddingContainer;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: $darkBlue;
}
body::-webkit-scrollbar-thumb {
  background-color: $orange;
}

.scene {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.scene,
canvas {
  display: inline-block;
  position: relative;
  width: 100% !important;
  height: 100%;
  max-height: 500px !important;
}


section {
  position: relative;
}

.development {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: $darkBlue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #232047, $darkBlue);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #232047, $darkBlue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    position: absolute;
}



// Components
@import "./components/mainheader.scss";
@import "./components/planetmodel.scss";
@import "./components/particle.scss";
@import "./components/counter.scss";
@import "./components/innovation.scss";
@import "./components/case.scss";
@import "./components/news.scss";

//popup
@import "./popup/_form.scss";





